{% extends 'base.html' %}

{% block title %} Users_Page {% endblock %}

{% block content %}

<div class="row">
    {% if user.image_url %}
    <div class="col-sm-2 col-6">
        <img src="{{ user.image_url }}" class="img-fluid " alt="{{ user.full_name }}">
    </div>
    {% endif %}

    <div class="col-sm-10 col-12">
        <h1>{{user.first_name}} {{user.last_name}}</h1>

        <form>
            <button class="btn btn-primary btn-sm" formaction="/users/{{user.id }}/edit" formmethod="get">Edit
            </button>

            <button class="btn btn-danger btn-sm" formaction="/users/{{user.id}}/delete" formmethod="post">Delete
            </button>

        </form>




        <h4>Posts</h4>

        <ul>
            {% for post in posts %}
            <li><a href="/posts/{{post.id}}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>


        <a href="/users/{{user.id }}/posts/new" class="btn btn-primary btn-sm">Add Post</a>
    </div>
</div>


{% endblock%}

